*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #fff3e5;
    height: 100vh;
    width: 100vw;
}
.landing{
    /* background: url("https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    /* opacity: 0.6; */
}
.landing video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.landing h1{
    text-align: center;
    font-size: 80px;
    color: white;
    padding-top: 170px;
}
.landing p{
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 20px;
}
nav{
    height: 50px;
    background-color: #110b04c7;
}
header nav ul{
    /* margin-left: auto; */
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul li{
    list-style-type: none;
    text-decoration-style: none;
}
header nav ul li:first-child{
    margin-right: auto;
    font-size: 1.4em;
    padding-left: 5px;
    color:#fff1e1;
    font-weight: bolder;
}
header nav ul li a{
    padding: 0 6px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 50px;
    color: #fff1e1;
}
header nav ul li a:hover{
    background-color: #110b04;
    font-size: 1.3em;
    border-bottom: 2px solid #e7bc91;
}
section h1{
    text-align: center;
    font-size: 30px;
    padding: 20px 0px;
    color: #583101;
} 
.cards{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.container{
    height: 100%;
    width: 300px;
    background-color: #ffedd8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.container:hover{
    transform: translateY(-10px) ;
}
.container .image{
    height: 60%;
    width: 100%;
}
.container .image img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.container .content{
    position: relative;
    padding: 5px;
    width: 100%;
    height: 40%;
}
.container .content h2{
    padding: 10px 0px;
    text-align: center;
    color: #583101;
}
.container .content p{
    text-align: center;
    color: #583101;
}
.but{
    padding:10px 50px;
    background-color: #e7bc91;
    color: #583101;
    border:2px solid #583101 ;
    cursor:pointer ;
    margin-top: 20px;
    font-size:20px; 
    border-radius: 20px;
    margin-left:42% ;
}
.but:hover{
    color: white;
    background-color: #583101;
}
.container .content .book{
    position: absolute;
    height: 50px;
    right: 0.6px;
    bottom: 0px;
    /* padding:10px 50px ; */
    background-color: #d18f3f;
    color: #583101;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    cursor:pointer;
    font-size:20px; 
    font-weight: bold;
    width: 100%;
}
.container .content .book:hover{
    border: 5px solid #583101;
    color: #ebcbab;
    background-color: #583101;
    transform: translateY(5px);
}
#testimonials {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff3e5;
  }
  .testimonial-header {
    background-color: rgba(0, 0, 0, 0.651);
    color: #fff1e1;
    padding: 50px 20px;
  }
  .testimonial-header h1{
      font-size: 3rem;
  }
  .testimonial-header p{
      font-size: 1.3rem;
      margin-top: 10px;
  }
  
  .testimonial-cards{
      margin-top: 20px;
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .testimonial-card{
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      width: 300px;  
      text-align: center;
      flex-direction: column; 
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .testimonial-card:hover{
    transform: translateY(-5px);
  }
  
  .testimonial-card img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
  }
  
  .testimonial-card h3{
      margin: 10px 0;
  }
  .testimonial-text{
      font-size: 1rem;
      color: #555;
      margin-top: 10px;
      font-style: italic;
      padding: 0px 10px;
  }
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.651);
}

footer h2,p{
    color: white;
    text-align: center;
    padding-top: 10px;
    /* padding: 20px; */
}
.icons{
    width: 10px;
    margin: 10px 0;
    display: flex;
    gap: 5px;
}
.fa-brands{
    color: white;
    cursor: pointer;
}